@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

html,
body{
    font-family: Raleway;
    scroll-behavior: smooth;
    max-width: 1400px;
    margin: auto;
}

/* Classes Générales */

.borderno{
    border: none;
}

.centerflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aroundflex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.betweenflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columncenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.columnaround{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.columnbetween{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Taille des liens */

.sizeliens{
    width: 100%;
}

.sizelien{
    width: 140px;
    height: 100px;
}

.sizelien12{
    margin-left: 60%;
}

/* Décoration du texte */

.textdeco{
    text-decoration: none;
}

.textgras{
    font-weight: bold;
}

/* Couleurs de base  */

.colorlink12{
    color: black;
}

.colorlink12:hover{
    color: #0065fc;
}

.colorblue{
    color: #0065fc;
}

.colorlightblue{
    color: #deebff;
}

.colorgrey{
    color: #f2f2f2;
}

.bgblue{
    background-color: #0065fc;
}

.bglightblue{
    background-color: #deebff;
}

.bggrey{
    background-color: #f2f2f2;
}

/* Navigation */

.navborder{
    border-top: 3px solid transparent;
}

.navborder:hover{
    cursor: pointer;
    border-top: 3px solid #0065fc;
}

.logo-booki{
    height: 19px;
    width: 61.09px;
}

.navsize{
    height: auto;
}

/* Header */

.pasdaffichage{
    display: none;
}

.p-search{
    padding-left: 20px;
}

.recherche{
    font-weight: bold;
    color: black;
    font-size: 18px;
    width: 230px;
    height: 50px;
}

.sizeicon{
    border-radius: 10px 0 0 10px;
    width: 10%;
    height: 50px;
}

.bordersearch{
    border: 0.5px solid #f2f2f2;
    width: 389px;
    border-radius: 10px;
}

.searchbutton{
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: white;
    width: 120px;
    height: 50px;
}

.searchbutton:hover{
    background-color: #deebff;
    color: #0065fc;

}

/* Filtres */

.texticonfiltre{
    margin-right: 20px;
    border-radius: 30px;
    height: 50px;
    border: 2px solid #f2f2f2;
}

.texticonfiltre:hover{
    cursor: pointer;
    background-color: #deebff;
}

.textfiltre{
    padding-right: 20px;
    height: 50px;
}

.m-filtre-titre{
    margin-right: 20px;
}

.m-filtre{
    margin-bottom: 10px;
    margin-top: 20px;
}

.filtre{
    align-items: center;
    display: flex;
}

.iconfiltre{
    padding: 10px;
    color: #0065fc;
}

/* Information */

.information{
    align-items: center;
    display: flex;
}

.icon{
    margin-right: 5px;
    border-radius: 25px;
    border: 2px solid #f2f2f2;
    height: 20px;
    width: 20px;
}

/* Hébergements à Marseille */

.hebergementsize{
    border-radius: 10px;
    margin-right: 20px;
    height: 650px;
    flex: 2;
}

.popularsize{
    border-radius: 10px;
    margin-left: 20px;
    height: 650px;
    flex: 1;
}

.contheber{
    padding-right: 20px;
    padding-left: 20px;
}

.carteheber{
    border-radius: 20px;
    padding: 1%;
    background-color: white;
    height: auto;
    width: 30%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.carteheber:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.cont1{
    margin-bottom: 10px;
}

.cont2{
    margin-top: 10px;
}

.insideheber{
    width: 90%;
}

article figure{
    margin: 0;
}

.imgheber{
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
}

/* Les plus populaires */

aside figure{
    margin: 0;
}

.titrelogopop{
    margin-top: 2px;
}

.contpop{
    padding-left: 20px;
    padding-right: 20px;
}

.partpop12{
    margin-bottom: 22px;
}

.insidepop{
    padding-left: 5%;
    width: 62%;
    height: 10rem;
}

.cartepop{
    margin-top: 5px;
    border-radius: 20px;
    padding: 1% 0 1% 1% ;
    height: auto;
    background-color: white;
}

.cartepop:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.imgpop{
    width: 137px;
    height: 160px;
    border-radius: 15px 0 0 15px;
    background-size: cover;
    background-position: center;
}

/* Activités à Marseille */

.activites{
    margin-bottom: 50px;
    margin-top: 50px;
}

#Activites figure{
    margin: 0;
}

.carteact{
    height: 600px;
    width: 100%;
}

.carteact:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.blocact{
    gap: 1.5rem;
}

.titreact{
    width: 95%;
    padding-left: 5%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.partact{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border: 15px;
    width: 100%;
}

.imgact{
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
}

/* Footer */

.footer{
    margin-top: 100px;
    height: 250px;
}

.partfooter{
    height: 150px;
}

.m-footer1{
    margin-left: 5%;
}

.m-footer3{
    margin-right: 15%;
}

.lienfooter{
    color: black;
}

.divlienfooter{
    height: 30px;
}


/* RESPONSIVE */

@media screen and (max-width: 1050px) {

    .sizelien12{
        margin-left: 35%;
    }

    .insideheber{
        min-height: 150px;
    }

    .hebergementsize{
        min-height: auto;
        padding: 20px;
    }

    .popularsize{
        min-height: auto;
        padding: 20px;
    }

    .sizetablettepop{
        margin-top: 0;
    }

    .fa-chart-line{
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 992px){

    .texticonfiltre{
        margin-bottom: 20px;
    }

    .fa-chart-line{
        margin-bottom: 18px;
    }
    
    #Hebergements{
        flex-direction: column;
        width: 100%;
    }
    
    .popularsize{
        padding: 5%;
        flex: none;
        width: 90%;
        margin-left: 0;
    }

    .insidepop{
        height: 9.5rem;
        width: 8rem;
    }

    .insidepop h3{
        margin-top: 0;
        margin-bottom: 0;
    }

    .insidepop p{
        margin-bottom: 15%;
    }

    .imgpop{
        height: 140px;
    }

    .cartepop{
        margin: 0;
        width: 100%;
        height: auto;
    }

    .contpop{
        min-height: auto;
        height: auto;
        width: 90%;
    }
    
    .partipopu{
        gap: 1rem;
        display: flex;
        flex-direction: row;
    }

    .hebergementsize{
        padding: 5%;
        margin-top: 20px;
        margin-right: 0;
        width: 90%;
        flex: none;
        margin-bottom: 20px;
        height: auto;
    }

    .blocact{
        margin-right: auto;
        height: auto;
        gap: 0rem;
    }

    .carteact{
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }

    .imgact{
        height: 200px;
    }

    #Activites figure{
        width: 100%;
    }

    .footer{
        margin-top: 20px;
    }

    .sizelien{
        width: 100%;
        column-gap: 1rem;
    }

    .sizelien12{
        width: 100%;
        margin-left: 20%;
    }

    .cont1{
        margin-bottom: 0;
        gap: 1%;
    }

    .cont2{
        margin-top: 0;
        gap: 1%;
    }

    .carteheber{
        margin-bottom: 50px;
        width: 100%;
    }

    .insideheber{
        min-height: auto;
    }

    .partact{
        margin: 5%;
    }

    .footer{
        padding: 20px;
        height: auto;
        align-items: flex-start;
    }

    .m-footer1{
        margin-left: 0;
    }
}

@media screen and (max-width: 768px){

    header h1{
        margin-left: 5%;
    }

    header p{
        margin-left: 5%;
    }

    .logo-booki{
        margin-left: 22rem;
    }

    .textfiltre{
        height: 50px;
        width: 100%;
        padding-right: 70%;
    }

    .filtremobile{
        flex-direction: column;
        align-items: flex-start;
    }

    .texticonfiltre{
        width: 100%;
    }

    .filtre1{
        width: 100%;
    }

    .filtre2{
        width: 100%;
    }

    .filtre4{
        padding-right: 49%;
    }
    
    .sizelien12{
        width: 100%;
        margin-left: 0;
    }
    
    .mobilesizelien{
        border-bottom: 5px solid #f2f2f2;
        border-top: 0;
        width: 100%;
    }

    .mobilesizelien:hover{
        color: black;
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }

    .sizeliens{
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .mobiletitreh1{
        font-size: x-large;
    }

    .recherche{
        border: 1px solid #f2f2f2;
        width: 100%;
    }

    .bordersearch{
        border: none;
        width: auto;
    }

    .input_search{
        width: 70%;
    }

    .searchbutton{
        width: 10%;
    }

    .pasdaffichage{
        display: block;
    }

    .nonemobile{
        display: none;
    }

    .m-filtre{
        padding-left: 5%;
    }

    .information{
        width: 80%;
        margin-left: 23px;
    }

    .popularsize{
        border-radius: 0;
    }

    .partipopu{
        display: flex;
        flex-direction: column;
    }

    .insidepop{
        margin-right: 30px;
        width: 50%;
    }

    .imgpop{
        height: 180px;
        width: 17rem;
    }

    #Hebergements{
        flex-direction: column-reverse;
    }

    .cont1,
    .cont2{
        flex-direction: column;
    }


    .hebergementsize{
        background-color: white;
    }

    .hebergementsize h2{
        padding-left: 0;
    }

    .hebergementsize span{
        display: none;
    }

    .imgheber{
        height: 15rem;
    }

    .insideheber{
        margin-left: 16px;
    }

    #Activites h2{
        width: 29%;
        margin-left: 5%;
    }

    .imgact{
        height: 20rem;
    }

    .blocact{
        flex-direction: column;
    }

    .partfooter{
        margin-left: 15px;
    }

    .footer{
        flex-direction: column;
    }
    
    html,
    body{
        margin: 0;
        padding: 0;
    }
}



